
<aside class="cart__sidebar">
  <div class="cart__sidebar-title">Вы авторизировались как<span>Василий Пупкин</span></div>
  <div class="cart__sidebar-main">
    <div class="cart__sidebar-info">
      <div class="cart__sidebar-info-total">
        <div class="title">Общая сумма</div>
        <div class="total"><span class="value">34200</span><span class="currency">грн</span></div>
      </div>
      <div class="cart__sidebar-info-discount">
        <div class="title">У вас действующая скидка</div>
        <div class="total"><span class="value">20</span><span class="currency">%</span></div>
      </div>
    </div>
    <div class="cart__sidebar-total">
      <div class="cart__sidebar-total-value">
        <div class="title">Итого</div>
        <div class="total"><span class="value">27360</span><span class="currency">грн</span></div>
      </div><a href="http://html.myapp.com.ua/vashkluch/order-page1.html" class="btn"><span>Оформить заказ</span></a>
    </div>
  </div>
</aside>