footer.footer
    .container
        .footer__wrapper
            nav.footer__services.footer__list
                .title
                    span Наши услуги
                ul.footer__services-menu
                    li.footer__services-li
                        a.footer__services-link(href='http://html.myapp.com.ua/vashkluch/content-page-img.html') Наши мастерские
                    li.footer__services-li
                        a.footer__services-link(href='http://html.myapp.com.ua/vashkluch/service-one.html') Восставноление авто ключей
                    li.footer__services-li
                        a.footer__services-link(href='http://html.myapp.com.ua/vashkluch/service-one.html') Ремонт авто ключей
                    li.footer__services-li
                        a.footer__services-link(href='http://html.myapp.com.ua/vashkluch/service-one.html') Инструменты для открывания
                    li.footer__services-li.active
                        a.footer__services-link(href='http://html.myapp.com.ua/vashkluch/service-one.html') Аварийное открытие замков

            nav.footer__info.footer__list
                .title
                    span Информация
                ul.footer__info-menu
                    li.footer__info-li
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/content-page-img.html') О нас
                    li.footer__info-li
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/content-page-img.html') Оплата и доставка
                    li.footer__info-li
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/news.html') Статьи
                    li.footer__info-li
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/contacts.html') Контакты
                    li.footer__info-li
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/news.html') Новости
                    li.footer__info-li.active
                        a.footer__info-link(href='http://html.myapp.com.ua/vashkluch/mapsite.html') Карта сайта

            .footer__phone.footer__list
                .title
                    span контакты
                .footer__phone-menu
                    .icon.icon-phone
                    .footer__phone-list
                        a(href="tel:+380674841450" class="footer__phone-link")
                            | +38 (067)
                            span 484-14-50
                        a(href="tel:+380487001717" class="footer__phone-link")
                            | +38 (048)
                            span 700-17-17
                        a(href="tel:+380677755585" class="footer__phone-link")
                            | +38 (048)
                            span 775-55-85
                .footer__phone-subtitle
                    span (круглосуточная единая справочная)
            .footer__social.footer__list
                .title
                    span мы в соцсетях
                ul.social-list
                    li.social-item
                        a(href="https://www.facebook.com/" target="_blank" rel="nofollow").icon-fb.icon
                    li.social-item
                        a(href="https://www.instagram.com/" target="_blank" rel="nofollow").icon-insta.icon

