meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
title Ваш Ключ
link(rel='icon', sizes='32x32', type="image/x-icon", href='images/favicon/favicon-32x32.ico')
link(rel='icon', sizes='16x16', type="image/x-icon", href='images/favicon/favicon-16x16.ico')
include _preloader
//link(rel='stylesheet', type='text/css', href='css/lib.min.css')
//link(rel='stylesheet', type='text/css', href='css/main.css')
//link(rel='stylesheet', type='text/css', href='css/main.min.css') разкоментить по окончанию разработки, закомментить в админке main.css


