mixin input-number()
    .input-number&attributes(attributes)
        .input-number_arrow.prev
        input.input-number_input(type='text' readonly min=1 max=99 value='1' step="1")
        .input-number_arrow.next