include _button

// popup SECTION
.popup-overlay
    .popup.popup__order(data-target="popup-order")
        .popup-header
            .subtitle Ваш заказ успешно оформлен!
        .popup-content
            .content В ближайшее время мы свяжемся с Вами
        .close-btn.icon.icon-close

    .popup.popup__cart(data-target="popup-cart")
        .popup-header
            .subtitle Спасибо!
        .popup-content
            .content
                | Товар добавлен
                +button('в корзину', 'a')(class="btn-link" href="http://html.myapp.com.ua/vashkluch/cart.html")
        .close-btn.icon.icon-close

    .popup.popup__product-delete(data-target="popup-product-delete")
        .popup-header
            .subtitle Удаление товара
        .popup-content
            .content
                | Данный товар будет удален
                .popup-buttons
                    +button('удалить', 'button')(class="js__product-delete btn-transparent btn-small")
                    +button('не удалять', 'button')(class="js__product-delete-reset btn-small")

    .popup.popup__call(data-target="popup-call")
        form.popup-content.js_validate
            .popup-header
                .subtitle В ближайшее время мы Вам перезвоним
            .input-container
                label.req(for="name-call") Имя
                input(type="text" name="name" id="name-call" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100").validate
                .text-error Поле  не заполнено
            .input-container
                label.req(for="phone") Телефон
                input(type="tel" id="phone" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)").validate
                .text-error Поле  не заполнено
            +button('перезвоните мне', 'button')
        .close-btn.icon.icon-close

    .popup.popup__call(data-target="popup-missing")
        form.popup-content.js_validate
            .popup-header
                .subtitle В ближайшее время мы пришлём Вам уведомление о наличии
            .popup-content
                .content
                    | Пожалуйста, оставьте свой контактный
                    br
                    | e-mail.
                .content Мы оповестим вас о наличии интересующего вас товара, как только данный товар поступит на склад.
            .input-container
                label.req(for="name") Имя
                input(type="text" name="name" id="name" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100").validate
                .text-error Поле  не заполнено
            .input-container
                label.req(for="email") Email
                input(type="email" name="email" id="email" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено").validate
                .text-error Поле «Email» не заполнено
            +button('сообщите мне о наличии товара', 'button')
        .close-btn.icon.icon-close

    .popup.popup__mail(data-target="popup-mail")
        .popup-header
            .subtitle Спасибо!
        .popup-content
            .content Ваше сообщение отправлено успешно!
        .close-btn.icon.icon-close

    .popup.popup__phone(data-target="popup-phone")
        .popup-header
            .subtitle Контакты
        .popup-content
            .header__phone
                a(href="tel:+380487001717" class="header__phone-link")
                    .icon.icon-phone
                    | +38 (048)
                    span 700 17 17
                a(href="tel:+380674841450" class="header__phone-link")
                    .icon.icon-phone
                    | +38 (067)
                    span 484 14 50
                .header__phone-subtitle
                    span Работаем круглосуточно
        .close-btn.icon.icon-close

    .popup.popup__mail(data-target="popup-recover")
        .popup-header
            .subtitle Забыли пароль?
        form.popup-content.js_validate
            .content Введите email, на который зарегестрирован ваш профиль и мы вышлем вам новый пароль.
            .input-container
                label.req(for="email2") Email
                input(type="email" name="email" id="email2" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено").validate
                .text-error Поле «Email» не заполнено
            +button('Получить новый пароль', 'button')
        .close-btn.icon.icon-close