include _button

form.search.js_validate
    .input-container
        .search__input-container
            input.search__input.validate(type='text', placeholder='Я ищу...', name='search', required='required', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
            +button('Искать', 'a')(href="http://html.myapp.com.ua/vashkluch/search.html")
            //+button('Искать', 'button')(class="") для бека, раскомментить, кнопку со ссылкой - удалить, это для визуала-перехода на страницу поиска, с ней валидация - не работает
            //.delete
            .text-error Введите колличество символов (2-100)
        //.search__example
        //    span.text Например,
        //    a.example(href="#") PR renaut
