include _button
mixin service-item(img, itemTitle)
    .service-item
        h2.service-item__title.subtitle= itemTitle[i]
        .service-item__img
            img(src="images/services/"+img[i] alt= itemTitle[i] title= itemTitle[i])
        +button('Подробнее', 'a')(href="http://html.myapp.com.ua/vashkluch/service.html")
