section.text-content
    .text-content__title.main-page__title
        h2 Авто ключи
    .text-content__content
        .text-content__content-text
            p
                | Ключный сервис «Ваш ключ» – это надежный помощник для всех автовладельцев. Если вы потеряли ключ от автомобиля или желаете сделать дубликат – в наших мастерских вы получите профессиональную помощь в наиболее оперативные сроки.
                br
                | Нужно сделать автомобильный ключ? К вашим услугам мастера сервиса «Ваш ключ»
            p.
                Вы можете сделать автомобильный ключ у нас в любое время. Наши преимущества очевидны:
            p
                | Мастерские нашей компании расположены в разных районах Одессы – заказать авто ключи Одесса может в любой из них, которая ближе к вашему дому либо офису.
                br
                | Вы всегда можете вызвать мобильную мастерскую, если вдруг не можете открыть автомобиль и требуется оперативная помощь мастера. Такие мобильные мастерские принимают заказы на автомобильные ключи, Одесса и пригород обслуживаются нами.
                br
                | У нас работают специалисты: каждый мастер специализируется в своей отрасли. Мастера по изготовлению автоключей смогут выполнить задачу любой сложности.
                br
                | «Ваш ключ» предлагает комплекс услуг: создание дубликатов, ремонт автоключей, в том числе замена корпусов, продажу запчастей и заготовок.
