
<section class="main-about">
  <div class="main-page__title"><span>О нас</span></div>
  <div class="main-about__content">
    <div class="main-about__content-img"><img data-src="images/other/about-img.jpeg" alt="ВашКлюч О нас" title="ВашКлюч О нас"/></div>
    <div class="main-about__content-text">
      <p>Наша компания<a href="http://html.myapp.com.ua/vashkluch/index.html">«Ваш Ключ»</a>профессионально работает с 2000 года в сфере изготовления копий ключей, аварийного открывания, продажи  и установки замков, продажа оборудования для изготовления ключей.</p>
      <p>Основным направлением нашей деятельности является обслуживание систем запирания, а именно установка и вскрытие замков, установка системы контроля доступа — системы мастер ключ, изготовление дубликатов ключей от отечественных до ведущих мировых производителей замков, таких как<strong>Mul-T-Lock,</strong><strong>CISA,</strong><strong>Mottura,</strong><strong>Tesa,</strong><strong>Kaba,</strong><strong>Abus,</strong><strong>Securemme,</strong><strong>YARDENI,</strong><strong>Atra,</strong><strong>Boda,</strong><strong>Ezcurra,</strong><strong>Abloy,</strong><strong>Mauer,</strong><strong>Cawi,</strong><strong>Evva,</strong><strong>Super Lock,</strong><strong>Gerda,</strong><strong>Vachette,</strong><strong>Kale,</strong><strong>Fain,</strong><strong>Булат,</strong><strong>Апекс</strong>и многих других.</p>
      <p>Наша Компания является официальным прямым поставщиком как отечественных, так и иностранных производителей:<strong>SILCA,</strong><strong>JMA,</strong><strong>ERREBI,</strong><strong>CANAS,</strong><strong>GULER,</strong><strong>SMT,</strong><strong>SANDJIN,</strong><strong>BAODEAN,</strong><strong>КОНАКОВО и многих других.</strong></p>
      <p>Давние налаженные контакты с ведущими производителями в этой области из Европы и Азии являются гарантией качества предлагаемой продукции. Наши мастерские является официальным сервисным центром<a href="http://html.myapp.com.ua/vashkluch/index.html">MuL-T-Lock</a>(Мультилок).</p>
    </div>
  </div>
</section>