
<section class="main-banner js-main-banner">
  <div class="main-banner__item">
    <div class="main-banner__img"><img data-src="images/banners/banner0.jpeg" alt="banner0.jpeg" title="banner0.jpeg"/></div>
  </div>
  <div class="main-banner__item">
    <div class="main-banner__img"><img data-src="images/banners/banner1.jpeg" alt="banner1.jpeg" title="banner1.jpeg"/></div>
  </div>
  <div class="main-banner__item">
    <div class="main-banner__img"><img data-src="images/banners/banner2.jpeg" alt="banner2.jpeg" title="banner2.jpeg"/></div>
  </div>
  <div class="main-banner__item">
    <div class="main-banner__img"><img data-src="images/banners/banner3.jpeg" alt="banner3.jpeg" title="banner3.jpeg"/></div>
  </div>
</section>