
<section class="main-services">
  <div class="main-page__title"><span>Наши услуги</span></div>
  <div class="main-services-items services__grid">
    <div class="service-item">
      <h2 class="service-item__title subtitle">Восстановление авто ключей</h2>
      <div class="service-item__img"><img src="images/services/recovery-key.svg" alt="Восстановление авто ключей" title="Восстановление авто ключей"/></div><a href="http://html.myapp.com.ua/vashkluch/service.html" class="btn"><span>Подробнее</span></a>
    </div>
    <div class="service-item">
      <h2 class="service-item__title subtitle">Ремонт авто ключей</h2>
      <div class="service-item__img"><img src="images/services/fix-key.svg" alt="Ремонт авто ключей" title="Ремонт авто ключей"/></div><a href="http://html.myapp.com.ua/vashkluch/service.html" class="btn"><span>Подробнее</span></a>
    </div>
    <div class="service-item">
      <h2 class="service-item__title subtitle">Изготовление авто ключей</h2>
      <div class="service-item__img"><img src="images/services/make-key.svg" alt="Изготовление авто ключей" title="Изготовление авто ключей"/></div><a href="http://html.myapp.com.ua/vashkluch/service.html" class="btn"><span>Подробнее</span></a>
    </div>
    <div class="service-item">
      <h2 class="service-item__title subtitle">Аварийное открытие замков</h2>
      <div class="service-item__img"><img src="images/services/lock.svg" alt="Аварийное открытие замков" title="Аварийное открытие замков"/></div><a href="http://html.myapp.com.ua/vashkluch/service.html" class="btn"><span>Подробнее</span></a>
    </div>
  </div>
</section>