include ../../components/_button
aside.cart__sidebar
    .cart__sidebar-title
        | Вы авторизировались как
        span Василий Пупкин
    .cart__sidebar-main
        .cart__sidebar-info
            .cart__sidebar-info-total
                .title Общая сумма
                .total
                    span.value 34200
                    span.currency грн
            .cart__sidebar-info-discount
                .title У вас действующая скидка
                .total
                    span.value 20
                    span.currency %
        .cart__sidebar-total
            .cart__sidebar-total-value
                .title Итого
                .total
                    span.value 27360
                    span.currency грн
            +button('Оформить заказ', 'a')(class="" href="http://html.myapp.com.ua/vashkluch/order-page1.html")
