include ../../components/_button
aside.cart__sidebar.tub-block.cart__sidebar_unregistered
    .tub_filter
        ul.tub_header.cart__sidebar-title
            li.active.cart__sidebar-tab
                span Авторизоваться
            li.cart__sidebar-tab
                span Продолжить без регистрации
    .main_cont.cart__sidebar-wrapper
        .tub_body.cart__sidebar-main(style='display: flex;')
            .cart__sidebar-info
                form.js_validate
                    .input-container
                        label.req(for="email") Email
                        input(type="email" name="email" id="email" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено").validate
                        .text-error Поле «Email» не заполнено
                    .input-container
                        label.req(for='password') Пароль
                        input#password.validate(type='password', name='password', required='required', data-validate='pass', data-error-wrong='Поле заполнено не верно', data-error-empty='Поле не заполнено', data-error-min='Пароль: не менее 6 символов', data-error-max='Пароль: не более 20 символов')
                        .text-error Поле не заполнено
                    input.btn(value='Войти', type='submit')
            .cart__sidebar-total
                .cart__sidebar-total-value
                    .title Итого
                    .total
                        span.value 27360
                        span.currency грн
                +button('Оформить заказ', 'button')(class="disabled")
        .tub_body.cart__sidebar-main(style='display: none;')
            form.js_validate
                .cart__sidebar-info
                    .input-container
                        label.req(for='name') Имя
                        input#name.validate(type='text', name='firstname', required='required', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                        .text-error Поле  не заполнено
                    .input-container
                        label.req(for="email") Email
                        input(type="email" name="email" id="email" required="required" data-validate="email" data-error-wrong="Поле «Email» заполнено не верно" data-error-empty="Поле «Email» не заполнено").validate
                        .text-error Поле «Email» не заполнено
                    .input-container
                        label.req(for='phone') Телефон
                        input#phone.validate(type='tel', required='required', data-validate='phone', data-error-wrong='Поле «Телефон» заполнено не верно', data-error-empty='Введите колличество символов(17)')
                        .text-error Поле  не заполнено
                .cart__sidebar-total
                    .cart__sidebar-total-value
                        .title Итого
                        .total
                            span.value 27360
                            span.currency грн
                    +button('Оформить заказ', 'button')
