.cart__slider
    .subtitle.cart__slider-title Выберете подарок к вашему заказу
    .cart__slider-grid
        include ../../components/_product-item
        - var img = ["key8.jpeg", "key9.jpeg", "key8.jpeg", "key9.jpeg", "key10.jpeg", "key11.jpeg", "key10.jpeg", "key11.jpeg"]
        - var itemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "PK RENAULT NE72 2кн", "PK RENAULT NE72 2кн", "PK RENAULT NE72 2кн", "PK RENAULT NE72 2кн"]
        - var price= ["142 402", "29 755", "45 794", "25 742", "25 742", "45", "25 742", "45"]
        - var classItem= ["product-item_stock product-item_gift product-item_old", "product-item_gift", "product-item_stock product-item_gift", "product-item_missing product-item_gift", "product-item_gift", "product-item_gift product-item_stock product-item_old", "product-item_gift", "product-item_gift product-item_stock product-item_old", "product-item_gift", "product-item_gift product-item_stock product-item_old"]
        - var priceOld= ["146 502", "31 785", "47 782", "26 712", "26 712", "26 712", "26 712", "26 712"]
        - var vendor= ["45881257","557780","7x757","ВШГ202","7x757","ВШГ202","7x757","ВШГ202"]
        - var label= ["", "топ", "хит", "", "", "", "", ""]
        - var classLabel= ["", "label-status_top", "label-status_hit", "", "", "", "", ""]
        - var btnClass= ["", "", "", "", "", "", "", ""]
        - for (var i = 0; i < img.length; i++)
            +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)