//header start
.header {
  position: relative;
  z-index: 30;
  @include respond-to(xs-690){
    border-bottom: 1px solid $lines;
  }
  &.mobile {
    background-color: $white;
    &.active {
      position: fixed;
      top: 0;
      width: 100%;
      .header__menu {
        @include respond-to(xs-690){
          position: fixed;
          top: 132px;
          width: 100%;
          z-index: 20;
          height: calc(100vh - 130px);
          max-height: calc(100vh - 130px);
          opacity: 1;
          @include anim;
          overflow-y: auto;
          visibility: visible;
        }
        @include respond-to(xs-480){
          height: calc(100vh - 96px);
          max-height: calc(100vh - 96px);
          top: 97px;
        }
        &-list-sub {
          //border-top: 1px solid $accent;
          display: none;
          &.active {
            position: fixed;
            width: 100%;
            top: 132px;
            left: 0;
            z-index: 35;
            opacity: 1;
            visibility: visible;
            display: block;
            height: calc(100% - 130px);
            background-color: #fff;
            @include anim;
            overflow-y: auto;
            text-align: left;
            @include respond-to(xs-480){
              top: 97px;
              height: calc(100% - 96px);
            }
          }
          .back {
            display: inline-flex;
            width: auto;
          }
        }
      }
    }
  }
  li {
    margin: 0;
    &:before {
      display: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__burger {
    display: none;
    @include respond-to(xs-690){
      display: block;
    }
  }
  &__user {
    .icon {
      font-size: 25px;
      line-height: 25px;
      color: $elements;
    }
  }
  &__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    .icon {
      font-size: 25px;
      line-height: 25px;
      color: $elements;
    }
    .text {
      color: $white;
      display: none;
      @include respond-to(tablet-1030){
        display: block;
      }
    }
    .value {
      width: 17px;
      height: 17px;
      background-color: $elements;
      color: $white;
      font-size: 14px;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      left: -5px;
    }
    &:hover,
    &:active,
    &:focus,
    &.active {
      color: $action;
      @include anim;
      .icon {
        color: $action;
      }
    }
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      color: $text;
      @include anim;
      .value {
        display: none;
      }
      &:hover,
      &:active,
      &:focus {
        @include anim;
        color: $text;
      }
    }
  }
  &__currency,
  &__lang {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a,
    span,
    .icon,
    li {
      color: $elements;
      font-size: 14px;
      line-height: 16px;
      @include anim;
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: $action;
        @include anim;
        .icon {
          color: $action;
          @include anim;
        }
      }
    }
  }
  &__currency {
    @include respond-to(xs-690){
      padding-right: 15px;
      border-right: 1px solid $elements;
    }
  }
  &__lang {
    @include respond-to(xs-690){
      padding-left: 15px;
    }
  }
  &__info {
    padding: 20px 0;
    @include respond-to(xs-480){
      padding: 10px 0;
    }
  }
  &__logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include respond-to(md){
      width: 100px;
    }
    @include respond-to(xs-690){
      width: 150px;
    }
    @include respond-to(xs-480){
      width: 100px;
    }
  }
  &__social {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond-to(md){
      width: 10%;
    }
    @include respond-to(xs-690){
      width: auto;
      order: 0;
    }
    .social {
      &-item {
        background-color: transparent;
        .icon {
          color: $elements;
        }
        &:hover,
        &:active,
        &:focus {
          .icon {
            color: $action;
            @include anim;
          }
        }
      }
    }
  }
  &__phone {
    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond-to(xs-690){
      display: none;
    }
    &-subtitle {
      color: $textLight;
      @include fb;
      font-size: 13px;
      line-height: 15px;
    }
    &-link {
      font-size: 14px;
      line-height: 16px;
      color: $textLight;
      margin-right: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @include fm;
      span {
        margin-left: 5px;
        @include fb;
        color: $text;
      }
      .icon {
        color: $lines;
        margin-right: 5px;
        font-size: 17px;
      }
    }
    &-mobile {
      display: none;
      font-size: 25px;
      @include fr;
      color: $elements;
      @include respond-to(xs-690){
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__search {
    width: 65%;
    &-icon {
      display: none;
      font-size: 23px;
      @include fr;
      color: $elements;
      &:hover,
      &:active,
      &:focus {
        @include anim;
        color: $action;
      }
      @include respond-to(xs-690){
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @include respond-to(xs-690){
      position: absolute;
      top: 100%;
      width: 100%;
      background-color: $white;
      border-bottom: 1px solid $lines;
      border-top: 1px solid $lines;
      padding: 10px;
      left: 0;
      z-index: -1;
      opacity: 0;
      @include anim;
      visibility: hidden;
    }
    &.active {
      @include anim;
      visibility: visible;
      z-index: 10;
      opacity: 1;
    }
  }
  &__menu {
    background-color: $elements;
    @include respond-to(xs-690){
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      position: fixed;
      @include anim;

    }
    .brands {
      position: absolute;
      z-index: -10;
      width: 100%;
      opacity: 0;
      height: auto;
      top: 100%;
      left: 0;
      display: none;
      @include anim;
      @include respond-to(xs-690){
       display: none;
      }
    }
    &-wrapper {
      &>.container {
        @include respond-to(xs-690){
          width: 100%;
        }
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-auto-rows: minmax(50px, auto);
      align-items: stretch;
      justify-content: space-between;
      text-align: center;
      position: relative;
      @include respond-to(xs-690){
        grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
      }
      &-sub {
        position: absolute;
        z-index: -1;
        opacity: 0;
        @include anim;
        width: 350px;
        top: 50px;
        left: 0;
        background-color: $grayBG3;
        display: none;
        //padding: 5px 0 !important;
        padding: 0 !important;
        @include respond-to(lg){
          width: 325px;
        }
        @include respond-to(lg-1360){
          width: 300px;
        }
        @include respond-to(lg-1200){
          width: 250px;
        }
        .back {
          display: none;
        }
      }
    }
    &-link {
      color: $white;
      @include fm;
      font-size: 18px;
      line-height: 21px;
      &:hover,
      &:active,
      &:focus {
        @include anim;
        color: $white;
      }
    }
    &-item {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include anim;
      background-color: transparent;
      &-sub {
        //padding: 5px 10px;
        padding: 10px;
        //margin: 5px 0 !important;
        text-align: left;
        @include anim;
        background-color: transparent;
        justify-content: flex-start;
        position: relative;
        &-link {
          @include anim;
          color: $text;
        }
        &>.header__menu-list-sub {
          left: 100%;
          top: 0;
          @include respond-to(tablet-1030){
            left: 0;
            top: 100%;
          }
          @include respond-to(xs-690){
            left: 100%;
            top: 0;
          }
        }
        &.drop {
          align-items: center;
          justify-content: space-between;
          display: flex;
          &:after {
            display: inline-block;
            content: '\E001';
            font-family: "Icons";
            color: $text;
            transform: rotate(-90deg) translateY(0);
            font-size: 8px;
            @include anim;
          }
        }
        &:hover,
        &:active,
        &:focus {
          @include anim;
          background-color: $darkElements;
          &>.header__menu-item-sub-link {
            color: $white;
            @include anim;
          }
          &>.header__menu-list-sub {
            z-index: 15;
            opacity: 1;
            display: block;
            @include anim;
          }
          &:after {
            color: $white;
            @include anim;
            transform: rotate(-90deg) translateY(5px);
          }
        }
      }
      &-main {
        position: relative;
        &:hover,
        &:active,
        &:focus {
          @include anim;
          background-color: $darkElements;
          &>.header__menu-list-sub {
            z-index: 15;
            opacity: 1;
            @include anim;
            display: block;
            @include respond-to(xs-690){
              z-index: -1;
              @include anim;
              opacity: 0;
            }
          }
        }
      }
      &-brands {
        position: static;
        &:hover,
        &:active,
        &:focus {
          .brands {
            z-index: 30;
            @include anim;
            opacity: 1;
            display: block;
            @include respond-to(xs-690){
              z-index: -1;
              @include anim;
              opacity: 0;
            }
          }
        }
        &.active {
          .brands {
            position: fixed;
            top: 132px;
            height: calc(100vh - 130px);
            max-height: calc(100vh - 130px);
            width: 100%;
            z-index: 35;
            opacity: 1;
            overflow-y: auto;
            display: block;
            @include anim;
            .back {
              display: flex;
            }
            @include respond-to(xs-480){
              height: calc(100vh - 96px);
              max-height: calc(100vh - 96px);
              top: 97px;
            }
          }
        }
      }
    }
  }
  &__main {
    padding: 5px 0;
    background-color: $grayBG;
    color: $lines;
    &-location,
    &-list,
    &-personal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 7%;
      @include respond-to(md){
        width: 12%;
      }
      @include respond-to(lg){
        width: 12%;
      }
    }
    &-personal {
      .line {
        //height: 30px;
        //width: 1px;
        height: 1px;
        width: 1px;
        transform: rotate(90deg);
        background-color: $elements;
        @include respond-to(md){
          display: none;
        }
      }
      a {
        &:hover,
        &:focus,
        &:active,
        &.active {
          .icon {
            color: $action;
            @include anim;
          }
        }
      }
      &>* {
        padding: 0 10px;
        &:last-child {
          padding-right: 0;
        }
      }
      @include respond-to(md){
        width: auto;
      }
    }
    &-list {
      width: 100%;
      justify-content: center;
      &-wrapper {
        background-color: $grayBG;
        padding: 10px 0;
        @include respond-to(xs-690){
          border-top: 1px solid $accent;
          border-bottom: 1px solid $accent;
        }
      }
      @include respond-to(xs-690){
        flex-direction: column;
      }
    }
    &-location {
      width: 12%;
      @include respond-to(md){
        width: 15%;
      }
      @include respond-to(xs-690){
        width: auto;
        order: 1;
      }
    }
    &-item {
      margin: 0 30px !important;
      @include respond-to(xs-690){
        padding: 10px 0;
      }
      &.active {
        a,
        span,
        .icon,
        li {
          color: $accent;
        }
      }
      &-link {
        @include fr;
        color: $text;
        position: relative;
        &::after {
          content: "";
          display: inline-block;
          height: 2px;
          width: 100%;
          max-width: 0;
          background-color: $elements;
          @include anim;
          position: absolute;
          bottom: -12px;
          left: 0;
          @include respond-to(xs-690){
            display: none;
          }
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
          @include anim;
          color: $elements;
        }
      }
      &:hover,
      &:focus,
      &:active,
      &.active {
        .header__main-item-link {
          @include anim;
          color: $elements;
          &::after {
            @include anim;
            max-width: 100%;
          }
        }
      }
    }
  }
}
//header end