//search start
.search {
  position: relative;
  &__input {
    background-color: rgba(237, 237, 237, 0.4);
    border: none;
    border-radius: 6px 0 0 6px;
    padding: 15px 50px 15px 10px;
    @include anim;
    @include fm;
    color: $textLight;
    &:active,
    &:focus {
      color: $text;
      @include anim;
    }
    @include respond-to(sm){
      padding: 10px;
    }
    &-container {
      border: 1px solid $lines;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      border-radius: 6px;
    }
  }
  &__example {
    @include fl;
    span {
      display: inline-block;
    }
    .text {
      margin-right: 5px;
      color: $lines;
    }
  }
  .input-container {
    margin-bottom: 0;
  }
  .btn {
    width: 100px;
    background-color: $accent;
    color: $text;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
    @include respond-to(sm){
      padding: 10px;
    }
    span {
      color: $text;
    }
    &:before {
      font-weight: 500;
      color: $elements;
      @include anim;
      margin: 0;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: transparentize($accent, 0.7);
      @include anim;
      &:before {
        transform: scale(1.1);
        @include anim;
      }
    }
  }
  &__suggestions-container {
    display:none;
    position:absolute;
    background:#fff;
    z-index:1000;
    width:100%;
    .search {
      &__suggestions {
        &-list {
          list-style:none;
        }
        &-analogs {
          list-style:none;
          display: block;
          margin-left:2rem;
          margin-top: 10px;
          li {
            color: $grayBG2;
          }
        }
      }
    }
    ul li{
      align-items:center;
      padding: 20px;
      border-bottom: 1px solid $grayBG4;
      transition: 0.3s all;
      background-color: $white;
      &:last-child {
        border-bottom: 0;
      }
      &:hover,
      &:active,
      &:focus {
        transition: 0.3s all;
        background-color: $grayBG4;
      }
    }
    img {
      height:50px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 20px;
      border: 1px solid $grayBG4;
    }
    &-open {
      display: block !important;
    }
  }
}
//search end