section.main-banner.js-main-banner
    - var img = ["banner0.jpeg", "banner1.jpeg", "banner2.jpeg", "banner3.jpeg"]
    - for (var i = 0; i < img.length; i++)
        .main-banner__item
            .main-banner__img
                img(data-src="images/banners/"+img[i] alt=img[i] title=img[i])