
<section class="card-info">
  <div class="card-sidebar">
    <div class="card-sidebar__wrapper">
      <div class="card-sidebar__image">
        <div class="card__image_loupe">
          <div class="card__image_slider-small">
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key1.jpeg" title="PK RENAULT NE72 2кн" alt="PK RENAULT NE72 2кн" data-image-index="1"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key2.jpeg" title="CLA3G JMA" alt="CLA3G JMA" data-image-index="2"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key3.jpeg" title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" alt="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" data-image-index="3"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key4.jpeg" title="PK RENAULT VAC102 3КН NO LOGO" alt="PK RENAULT VAC102 3КН NO LOGO" data-image-index="4"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key5.jpeg" title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" alt="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" data-image-index="5"/></div>
            <div class="card__image_slider-small-slide card-info__image_video"><img data-src="images/keys/key6.jpeg" title="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" alt="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" data-image-index="6"/></div>
          </div>
          <div class="card__image_slider-big gallery-images"><a href="images/keys/key1.jpeg" data-fancybox="gallery" data-title="PK RENAULT NE72 2кн">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key1.jpeg" title="PK RENAULT NE72 2кн" alt="PK RENAULT NE72 2кн" id="image-1" data-zoom-image="images/keys/key1.jpeg" class="product-image"/></div></a><a href="images/keys/key2.jpeg" data-fancybox="gallery" data-title="CLA3G JMA">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key2.jpeg" title="CLA3G JMA" alt="CLA3G JMA" id="image-2" data-zoom-image="images/keys/key2.jpeg" class="product-image"/></div></a><a href="images/keys/item-image2.jpeg" data-fancybox="gallery" data-title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key3.jpeg" title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" alt="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" id="image-3" data-zoom-image="images/keys/key3.jpeg" class="product-image"/></div></a><a href="images/keys/item-image3.jpeg" data-fancybox="gallery" data-title="PK RENAULT VAC102 3КН NO LOGO">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key4.jpeg" title="PK RENAULT VAC102 3КН NO LOGO" alt="PK RENAULT VAC102 3КН NO LOGO" id="image-4" data-zoom-image="images/keys/key4.jpeg" class="product-image"/></div></a><a href="images/keys/key5.jpeg" data-fancybox="gallery" data-title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key5.jpeg" title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" alt="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" id="image-5" data-zoom-image="images/keys/key5.jpeg" class="product-image"/></div></a><a href="https://youtu.be/u5H8FdfZihE" data-fancybox="gallery" data-title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г">
              <div class="card__image_slider-big-slide card-info__image_video"><img data-src="images/keys/key6.jpeg" title="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" alt="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" id="image-6" class="product-image"/></div></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-info__wrapper">
    <h1 class="title main-title">PK RENAULT NE72 2кн</h1>
    <div class="card-info__descr">
      <div class="card-info__descr-item"><span class="title">Артикул:</span><span class="value">50618</span></div>
      <div class="card-info__descr-item"><span class="title">Производитель:</span><span class="value">Renault</span></div>
      <div class="product-item__missing-title product-item__missing-title_true">
        <div class="subtitle">
          <div class="icon icon-check"></div>товар в наличии
        </div>
        <div class="icon icon-car"></div>
      </div>
    </div>
    <div class="card-info__characteristic">
      <table>
        <caption>Характеристики товара</caption>
        <tbody>
          <tr>
            <th>Тип</th>
            <td>Заготовка под ключ</td>
          </tr>
          <tr>
            <th>Тип ключа</th>
            <td>Автомобильный</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--.card-info__content-->
    <!--    span.title Описание-->
    <!--    p-->
    <!--        | Контейнера и выкидушки к авто RENAULT.-->
    <!--        span Заготовка для ключей.-->
  </div>
  <div class="card-info__sidebar">
    <div class="product-item__label label-status label-status_new">Новинка</div>
    <div class="card-info__sidebar-item">
      <div class="card-info__price-wrapper">
        <div class="card-info__price card-info__price_old"><span>Старая цена</span><span class="price">80.50</span><span class="currency">грн.</span></div>
      </div>
      <div class="card-info__price-wrapper">
        <div class="card-info__price"><span class="price">85.50</span><span class="currency">грн.</span></div>
      </div>
      <div class="card-info__price-wrapper card-info__price-wrapper-saving"><span>Экономия</span><span class="value">15</span><span>грн.</span></div>
      <div class="card-info__missing"><span class="subtitle">Количество на складе</span><span class="value">10000</span></div>
      <div class="card-info__stock"><span class="card-info__stock-item"><span>от</span><span class="value">100</span><span>шт.</span><span>-</span><span class="discount">1,78</span><span>грн.</span></span><span class="card-info__stock-item"><span>Скидка</span><span class="discount">-13%</span></span></div>
    </div>
    <div class="card-info__sidebar-item">
      <div class="card-info__all">
        <div class="input-number">
          <div class="input-number_arrow prev"></div>
          <input type="text" readonly="readonly" min="1" max="99" value="1" step="1" class="input-number_input"/>
          <div class="input-number_arrow next"></div>
        </div>
        <div class="card-info-value"><span class="title">Всего</span><span class="value">8550</span><span class="currency">грн.</span></div>
      </div>
      <div class="card-info__buttons">
        <button type="submit" class="btn icon icon-cart" data-target="cart"><span>В корзину</span></button>
      </div>
      <form action="#" class="card-info__call js_validate">
        <div class="input-container">
          <label for="phone" class="req">номер телефона</label>
          <input type="tel" id="phone" required="required" data-validate="phone" data-error-wrong="Поле «Телефон» заполнено не верно" data-error-empty="Введите колличество символов(11)" class="validate"/>
          <div class="text-error">Поле  не заполнено</div>
        </div>
        <button type="submit" class="btn" data-target="order"><span>купить в один клик</span></button>
      </form>
    </div>
  </div>
</section>