
<section class="card-info">
  <div class="card-sidebar">
    <div class="card-sidebar__wrapper">
      <div class="card-sidebar__image">
        <div class="card__image_loupe">
          <div class="card__image_slider-small">
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key1.jpg" title="PK RENAULT NE72 2кн" alt="PK RENAULT NE72 2кн" data-image-index="1"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key2.jpg" title="CLA3G JMA" alt="CLA3G JMA" data-image-index="2"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key3.jpg" title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" alt="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" data-image-index="3"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key4.jpg" title="PK RENAULT VAC102 3КН NO LOGO" alt="PK RENAULT VAC102 3КН NO LOGO" data-image-index="4"/></div>
            <div class="card__image_slider-small-slide"><img data-src="images/keys/key5.jpg" title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" alt="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" data-image-index="5"/></div>
            <div class="card__image_slider-small-slide card-info__image_video"><img data-src="images/keys/key6.jpg" title="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" alt="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" data-image-index="6"/></div>
          </div>
          <div class="card__image_slider-big gallery-images"><a href="images/keys/key1.jpg" data-fancybox="gallery" data-title="PK RENAULT NE72 2кн">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key1.jpg" title="PK RENAULT NE72 2кн" alt="PK RENAULT NE72 2кн" id="image-1" data-zoom-image="images/keys/key1.jpg" class="product-image"/></div></a><a href="images/keys/key2.jpg" data-fancybox="gallery" data-title="CLA3G JMA">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key2.jpg" title="CLA3G JMA" alt="CLA3G JMA" id="image-2" data-zoom-image="images/keys/key2.jpg" class="product-image"/></div></a><a href="images/keys/item-image2.jpg" data-fancybox="gallery" data-title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key3.jpg" title="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" alt="PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ" id="image-3" data-zoom-image="images/keys/key3.jpg" class="product-image"/></div></a><a href="images/keys/item-image3.jpg" data-fancybox="gallery" data-title="PK RENAULT VAC102 3КН NO LOGO">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key4.jpg" title="PK RENAULT VAC102 3КН NO LOGO" alt="PK RENAULT VAC102 3КН NO LOGO" id="image-4" data-zoom-image="images/keys/key4.jpg" class="product-image"/></div></a><a href="images/keys/key5.jpg" data-fancybox="gallery" data-title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г">
              <div class="card__image_slider-big-slide"><img data-src="images/keys/key5.jpg" title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" alt="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г" id="image-5" data-zoom-image="images/keys/key5.jpg" class="product-image"/></div></a><a href="https://youtu.be/u5H8FdfZihE" data-fancybox="gallery" data-title="Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г">
              <div class="card__image_slider-big-slide card-info__image_video"><img data-src="images/keys/key6.jpg" title="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" alt="Ключ CHEVROLET LACHETI 3кн ID60 434MHz" id="image-6" class="product-image"/></div></a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-info__wrapper">
    <h1 class="title main-title">PK RENAULT NE72 2кн</h1>
    <div class="card-info__descr">
      <div class="card-info__descr-item"><span class="title">Артикул:</span><span class="value">50618</span></div>
      <div class="card-info__descr-item"><span class="title">Производитель:</span><span class="value">Renault</span></div>
      <div class="product-item__missing-title">
        <div class="subtitle">товар отсутствует</div>
        <div class="icon icon-car"></div>
      </div>
    </div>
    <div class="card-info__characteristic">
      <table>
        <caption>Характеристики товара</caption>
        <tbody>
          <tr>
            <th>Тип</th>
            <td>Заготовка под ключ</td>
          </tr>
          <tr>
            <th>Тип ключа</th>
            <td>Автомобильный</td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--.card-info__content-->
    <!--    span.title Описание-->
    <!--    p-->
    <!--        | Контейнера и выкидушки к авто RENAULT.-->
    <!--        span Заготовка для ключей.-->
  </div>
  <div class="card-info__sidebar">
    <div class="card-info__sidebar-item">
      <div class="card-info__price-wrapper">
        <div class="card-info__price"><span class="price">85.50</span><span class="currency">грн.</span></div>
      </div>
      <div class="card-info__missing"><span class="subtitle">Нет в наличии</span></div>
    </div>
    <div class="card-info__sidebar-item">
      <div class="card-info__buttons">
        <button type="submit" class="btn icon icon-mail" data-target="missing"><span>Сообщить, когда появится</span></button>
      </div>
    </div>
  </div>
</section>