doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.card-page
      include components/_header
      .container
        main.main
          section.page__header
            .page__header-wrapper
              include components/_breadcrumbs
              +breadcrumbs('Главная', 'Автоключи', 'КПЧ и рем комплекты', 'RENAULT', 'PK RENAULT NE72 2кн')
          include templates/card/_card-info
          section.catalog
            .main-page__title
              span Аксессуары для этого товара
            .main-products-item.small-products-item.catalog__grid
              include components/_product-item
              include components/_pagination
              - var img = ["key8.jpeg", "key9.jpeg", "key8.jpeg", "key9.jpeg", "key10.jpeg", "key11.jpeg"]
              - var itemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "PK RENAULT NE72 2кн", "PK RENAULT NE72 2кн"]
              - var price= ["142 402", "29 755", "45 794", "25 742", "25 742", "45"]
              - var classItem= ["product-item_stock product-item_small product-item_old", "product-item_small", "product-item_stock product-item_small", "product-item_missing product-item_small", "product-item_small", "product-item_small product-item_stock product-item_old"]
              - var priceOld= ["146 502", "31 785", "47 782", "26 712", "26 712", "26 712"]
              - var vendor= ["45881257","557780","7x757","ВШГ202","7x757","ВШГ202"]
              - var label= ["", "топ", "хит", "", "", ""]
              - var classLabel= ["", "label-status_top", "label-status_hit", "", "", ""]
              - var btnClass= ["", "", "", "", "", ""]
              - for (var i = 0; i < img.length; i++)
                +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)
          section.catalog
            .main-page__title
              span Аналоги от других производителей
            .main-products-item.small-products-item.catalog__grid
              include components/_product-item
              include components/_pagination
              - var img = ["key13.jpeg", "key14.jpeg", "key15.jpeg", "key14.jpeg", "key16.jpeg", "key16.jpeg"]
              - var itemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "CLA3G JMA", "PK RENAULT VAC102 3КН NO LOGO"]
              - var price= ["142 402", "29 755", "45 794", "25 742", "25 742", "25 742"]
              - var classItem= ["product-item_stock product-item_small product-item_old", "product-item_small", "product-item_stock product-item_small product-item_old", "product-item_missing product-item_small", "product-item_small", "product-item_small"]
              - var priceOld= ["146 502", "31 785", "47 782", "26 712", "26 712", "26 712"]
              - var vendor= ["45881257","557780","7x757","ВШГ202","7x757","ВШГ202"]
              - var label= ["", "топ", "хит", "", "", ""]
              - var classLabel= ["", "label-status_top", "label-status_hit", "", "", ""]
              - var btnClass= ["", "", "", "", "", ""]
              - for (var i = 0; i < img.length; i++)
                +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)
          section.catalog
            .main-page__title
              span Другие товары в этой категории
            .main-products-item.catalog__grid
              include components/_product-item
              include components/_pagination
              - var img = ["key5.jpg", "key6.jpg", "key7.jpg", "key8.jpg", "key9.jpg", "key10.jpg", "key11.jpg", "key12.jpg"]
              - var itemTitle = ["ВЫКИДНОЙ КЛЮЧ HYUNDAI I20,I30 3КН ID60(6F) 433MHZ RKE-4F04 С 2012Г", "ВЫКИДНОЙ КЛЮЧ KIA SPORTAGE 3КН ID46(7936) 433MHZ С 2014-2016 ANATEL:1433-13-6920", "LISHI HU66 №2", "Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г", "Ключ CHEVROLET LACHETI 3кн ID60 434MHz", "ANATEL:1433-13-6920", "Выкидной ключ CHEVROLET HU100 3кн+1", "Ключ Acura HON58 ID13"]
              - var price= ["142 699", "85 289", "226", "14 999", "142 402", "29 755", "45 794", "25 742"]
              - var classItem= ["product-item_missing", "product-item_old", "product-item_stock", "", "product-item_stock", "", "product-item_stock", "product-item_missing"]
              - var priceOld= ["143 655", "86 231", "245", "18 019", "146 502", "31 785", "47 782", "26 712"]
              - var vendor= ["4588QS","4jjQS", "45881257","557780", "45881257","557780","7x757","ВШГ202"]
              - var label= ["", "Акция", "Новинка", "", "", "топ", "хит", ""]
              - var classLabel= ["", "label-status_sale", "label-status_new", "", "", "label-status_top", "label-status_hit", ""]
              - var btnClass= ["", "", "", "disabled", "", "", "", ""]
              - for (var i = 0; i < img.length; i++)
                +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)
              +pagination
      include components/_footer
      include components/_popup
    include components/_footer-include
