doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.catalog-page.catalog-brands-page
      include components/_header
      .container
        main.main
          include components/_text-content
          section.page__header.catalog__header
            include components/_breadcrumbs
            +breadcrumbs('Главная', 'Автоключи', 'КПЧ и рем комплекты', 'RENAULT')
            include components/_brands
            .page__header-wrapper
              .title.page__header-title
                | Оригинальные ключи
                strong RENAULT
              .page__header-sort
                include components/_dropdown
                - var text= ["12", "24", "36"]
                +dropdown("dropdown_select", text, "Товаров на странице:", "sort-value")
                - var text= ["По популярности", "По цене", "По новизне"]
                +dropdown("dropdown_select", text, "Сортировка:", "sort-quantity")
          section.catalog.catalog__wrapper
            include templates/catalog/_filter
            .main-products-item.catalog__grid
              include components/_product-item
              include components/_pagination
              - var img = ["key1.jpg", "key2.jpg", "key3.jpg", "key4.jpg", "key5.jpg", "key6.jpg", "key7.jpg", "key8.jpg", "key9.jpg", "key10.jpg", "key11.jpg", "key12.jpg", "key13.jpg", "key14.jpg", "key15.jpg"]
              - var itemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "ВЫКИДНОЙ КЛЮЧ HYUNDAI I20,I30 3КН ID60(6F) 433MHZ RKE-4F04 С 2012Г", "ВЫКИДНОЙ КЛЮЧ KIA SPORTAGE 3КН ID46(7936) 433MHZ С 2014-2016 ANATEL:1433-13-6920", "LISHI HU66 №2", "Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г", "Ключ CHEVROLET LACHETI 3кн ID60 434MHz", "ANATEL:1433-13-6920", "Выкидной ключ CHEVROLET HU100 3кн+1", "Ключ Acura HON58 ID13", "Выкидной ключ Acura HON66 3+1 ID46(7936) 315MHz б/у", "Ключ BMW HU58 3кн 7935 433MHz", "Смарт ключ MINI 3кн 868MHz NEW"]
              - var price= ["142 402", "29 755", "45 794", "25 742", "142 699", "85 289", "226", "14 999", "142 402", "29 755", "45 794", "25 742", "142 699", "85 289", "226"]
              - var classItem= ["", "", "", "product-item_missing", "product-item_missing", "product-item_stock product-item_old", "", "", "", "", "", "product-item_missing", "product-item_missing", "product-item_stock product-item_old", ""]
              - var priceOld= ["146 502", "31 785", "47 782", "26 712", "143 655", "86 231", "245", "18 019", "146 502", "31 785", "47 782", "26 712", "143 655", "86 231", "245"]
              - var vendor= ["45881257","557780","7x757","ВШГ202","4588QS","4jjQS", "45881257","557780", "45881257","557780","7x757","ВШГ202","4588QS","4jjQS", "45881257"]
              - var label= ["", "топ", "хит", "", "", "Акция", "Новинка", "", "", "топ", "хит", "", "", "Акция", "Новинка"]
              - var classLabel= ["", "label-status_top", "label-status_hit", "", "", "label-status_sale", "label-status_new", "", "", "label-status_top", "label-status_hit", "", "", "label-status_sale", "label-status_new"]
              - var btnClass= ["", "", "", "", "", "", "", "disabled", "", "", "", "", "", "", ""]
              - for (var i = 0; i < img.length; i++)
                +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)
              +pagination
      include components/_footer
      include components/_popup
    include components/_footer-include
