doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.main-page
      include components/_header
      .container
        main.main
          include components/_basket-item
           - var basketImg = ["key1.jpeg", "key2.jpeg", "key3.jpeg", "key4.jpeg", "key5.jpeg", "key6.jpeg", "key7.jpeg", "key8.jpeg"]
           - var basketItemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "ВЫКИДНОЙ КЛЮЧ HYUNDAI I20,I30 3КН ID60(6F) 433MHZ RKE-4F04 С 2012Г", "ВЫКИДНОЙ КЛЮЧ KIA SPORTAGE 3КН ID46(7936) 433MHZ С 2014-2016 ANATEL:1433-13-6920", "LISHI HU66 №2", "Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г"]
           - var basketPrice= ["142 402", "29 755", "45 794", "25 742", "142 699", "85 289", "226", "14 999"]
           - var basketClassItem= ["basket-item_short", "basket-item_old-price basket-item_short", "basket-item_short basket-item_short-card", "basket-item_old-price", "", "", "basket-item_old-price", ""]
           - var basketPriceOld= ["", "31 785", "", "26 712", "", "", "245", ""]
           - var basketVendor= ["45881257","557780","7x757","ВШГ202","4588QS","4jjQS", "45881257","557780"]
           - var basketCategory= ["Автоключи", "Автозамки", "Заготовки ключей", "Оборудование для изгот ключей", "Аварийное открытие замков", "Замки", "Аксессуары", "Заготовки ключей"]
           - for (var z = 0; z < basketImg.length; z++)
             +basket-item(basketImg, basketItemTitle, basketPrice, basketPriceOld, basketClassItem, basketVendor, basketCategory)

          include components/_brands

          //.product-item__additional-wrapper
          //  - var basketImg = ["key1.jpeg", "key2.jpeg", "key3.jpeg", "key4.jpeg", "key5.jpeg"]
          //  - var basketItemTitle = ["PK RENAULT NE72 2кн", "CLA3G JMA", "PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ", "PK RENAULT VAC102 3КН NO LOGO", "ВЫКИДНОЙ КЛЮЧ HYUNDAI I20,I30 3КН ID60(6F) 433MHZ RKE-4F04 С 2012Г"]
          //  - var basketPrice= ["142 402", "29 755", "45 794", "25 742", "142 699"]
          //  - var basketClassItem= ["basket-item_short basket-item_short-card", "basket-item_old-price basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card", "basket-item_short basket-item_short-card"]
          //  - var basketPriceOld= ["", "31 785", "", "26 712", ""]
          //  - var basketVendor= ["45881257","557780","7x757","ВШГ202","4588QS"]
          //  - var basketCategory= ["Автоключи", "Автозамки", "Заготовки ключей", "Оборудование для изгот ключей", "Аварийное открытие замков"]
          //  - for (var z = 0; z < basketImg.length; z++)
          //    +basket-item(basketImg, basketItemTitle, basketPrice, basketPriceOld, basketClassItem, basketVendor, basketCategory)
      include components/_footer
      include components/_popup
    include components/_footer-include
