doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.main-page
      include components/_header
      main.main
        include templates/main/_banner
        .container
          include templates/main/_products
          include templates/main/_services
          include templates/main/_about
      include components/_footer
      include components/_popup
    include components/_footer-include
