doctype html
html
    include components/_head
    body
        noscript
            div
                strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
                a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
                | как включить JavaScript в вашем браузере.
                link(rel='stylesheet', type='text/css', href='css/without-js.css')
        .wrapper.order-success
            include components/_header
            .container
                main.main
                    section.page__header
                        .title.page__header-title
                            | Оформление заказа - успех!
                    section.order-success__wrapper
                        .order-success__content
                            .icon.icon-check
                            .title Ваш заказ в процессе обработки!
                            .subtitle В ближайшее время с вами свяжется наш менеджер!
                            +button('На главную', 'a')(href="http://html.myapp.com.ua/vashkluch/index.html")

            include components/_footer
            include components/_popup
        include components/_footer-include

