doctype html
html
    include components/_head
    body
        noscript
            div
                strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
                a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
                | как включить JavaScript в вашем браузере.
                link(rel='stylesheet', type='text/css', href='css/without-js.css')
        .wrapper.order-page
            include components/_header
            .container
                main.main
                    section.page__header
                        .page__header-wrapper
                            include components/_breadcrumbs
                            +breadcrumbs('Главная', 'Оформление заказа - шаг 2')
                        .title.page__header-title
                            | Оформление заказа - шаг 2
                    section.order-wrapper
                        form.order.order_delivery.js_validate(action='#')
                            section.order_content
                                .order_content__title.block-title.active
                                    span.value
                                        strong 01
                                        | /02
                                    span.subtitle Контактные данные
                                    +button('Редактировать', 'a')(class="btn-link" href="http://html.myapp.com.ua/vashkluch/order-page1.html")
                                .order_content__title.block-title
                                    span.value
                                        strong 02
                                        | /02
                                    span.subtitle Выбор способов доставки и оплаты
                                .order_content__form
                                    .delivery
                                        .order_content__wrapper.order_content__delivery
                                            .form-group-radio
                                                .subtitle Способы доставки
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group1" checked).js__delivery-pickup
                                                        | Самовывоз из магазина
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group1").js__delivery-postoffice
                                                        | Самовывоз из Новой Почты
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group1").js__delivery-courier
                                                        | Доставка на дом курьером

                                            .order_content__delivery-item.delivery-pickup(style='display: block;')
                                                .delivery-adress
                                                    span.title Самовывоз только по городу:
                                                    span.city Одесса
                                                .delivery-adress
                                                    | г.
                                                    span.city Одесса
                                                    | ,
                                                    span.street ул. Преображенская
                                                    | ,
                                                    span.build 71
                                                    +button('Показать на карте', 'button', '')(class="btn-link js__map-toggle" type="button")
                                                .delivery-map(style='display: none;')
                                                    //.contacts-map#map-pickup(data-coords='50.550207, 30.232715')
                                                    .contacts-map
                                                        iframe(width='100%', height='435', src='https://maps.google.com/maps?width=100%&height=435&hl=en&coord=46.47219710431272, 30.730701684951786&q=%D1%83%D0%BB.%20%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2C%2071%2C%20%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%B0%2C%20%D0%9E%D0%B4%D0%B5%D1%81%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0%2C%2065000+(%D0%92%D0%B0%D1%88%D0%9A%D0%BB%D1%8E%D1%87)&ie=UTF8&t=&z=19&iwloc=B&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0') <a href="https://www.maps.ie/coordinates.html">find my location</a>

                                            .order_content__delivery-item.delivery-postoffice(style='display: none;')
                                                .input-container.js_valid_select
                                                    include components/_dropdown
                                                    - var text= ["Город*", "Черкассы", "Киев", "Тель Авив", "Винница", "Кропивницкий (Кировоград)", "Полтава", "Харьков", "Днепр (Днепропетровск)", "Луганск", "Ровно", "Херсон", "Донецк", "Луцк", "Симферополь", "Хмельницкий", "Житомир", "Львов"]
                                                    +dropdown("dropdown_select_first", text, "", "sort-city", "")
                                                    .text-error Поле  не заполнено
                                                .input-container.js_valid_select
                                                    include components/_dropdown
                                                    - var text= ["Выбор отделения*", "Отделение №1, ул. Полевая, д. 67", "Отделение №2, ул. Луговая, д. 135", "Отделение №3, ул. Цветочная, д. 28"]
                                                    +dropdown("dropdown_select_first", text, "", "sort-np", "")
                                                    .text-error Поле  не заполнено
                                            .order_content__delivery-item.delivery-courier(style='display: none;')
                                                .input-container.js_valid_select
                                                    include components/_dropdown
                                                    - var text= ["Город*", "Черкассы", "Киев", "Тель Авив", "Винница", "Кропивницкий (Кировоград)", "Полтава", "Харьков", "Днепр (Днепропетровск)", "Луганск", "Ровно", "Херсон", "Донецк", "Луцк", "Симферополь", "Хмельницкий", "Житомир", "Львов"]
                                                    +dropdown("dropdown_select_first", text, "", "sort-city-courier", "")
                                                    .text-error Поле  не заполнено
                                                .input-container
                                                    label.req(for="street") Улица
                                                    input(type="text" name="street" id="street" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100").validate
                                                    .delete
                                                    .text-error Поле «Улица» не заполнено
                                                .input-container
                                                    label.req(for="house") Дом
                                                    input(type="text" name="house" id="house" required="required" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (1-100)" data-minsign="1" data-maxsign="100").validate
                                                    .delete
                                                    .text-error Поле «Дом» не заполнено
                                                .input-container
                                                    label(for="apartment") Квартира
                                                    input(type="text" name="apartment" id="apartment" data-validate="text"  data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100")
                                                    .delete
                                                    .text-error Поле «Квартира» не заполнено

                                            .order_content__delivery-item.delivery-storage(style='display: none;')

                                        .order_content__wrapper.order_content__payment
                                            .subtitle Способы оплаты
                                            .form-group-radio
                                                .radio-container
                                                    label
                                                        input( type="radio"  name="group2" checked)
                                                        | Наличными при получении
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group2")
                                                        | Наложенный платеж
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group2")
                                                        | Безналичный расчет по счёту-фактуре (юр.лицам)
                                                .radio-container
                                                    label
                                                        input( type="radio" name="group2")
                                                        | Безналичная оплата онлайн (банковской картой)

                            include templates/order/_order-sidebar2

            include components/_footer
            include components/_popup
        include components/_footer-include
