doctype html
html
    include components/_head
    body
        noscript
            div
                strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
                a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
                | как включить JavaScript в вашем браузере.
                link(rel='stylesheet', type='text/css', href='css/without-js.css')
        .wrapper.error-page
            include components/_header
            .container
                main.main
                    section.error-wrapper
                        .container
                            .error__content
                                .error__image
                                    img(data-src="images/services/recovery-key.svg" alt="imageTitleRecovery" title="imageTitleRecovery")
                                .error__text
                                    .subtitle Ваш пароль восстановлен
                                    p.
                                        Инструкция по восстановлению и Ваш новый пароль отправлены на указаный e-mail
                                    include components/_button
                                    +button('Перейти на страницу авторизации', 'a')(href="http://html.myapp.com.ua/vashkluch/registration.html")

            include components/_footer
            include components/_popup
        include components/_footer-include
