doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.registration-page
      include components/_header
      main.main.tub-block
        section.page__header.tub_filter
          ul.tub_header
            li.active.title.page__header-title
              | Авторизация
            li.title.page__header-title
              | Регистрация
        .container
          section.registration.main_cont
            .tub_body(style='display: flex;')
              .registration__title Авторизация
              .registration__wrapper
                form.registration__form.js_validate
                  .registration__section
                    .input-container
                      label.req(for='email-enter') E-mail
                      input#email-enter.validate(type='email', name='email-enter', required='required', data-validate='email', data-error-wrong='Поле «Email» заполнено не верно', data-error-empty='Поле «Email» не заполнено', data-error-min='Email: не менее 6 символов', data-error-max='Email: не более 37 символов')
                      .text-error Поле «Email» не заполнено
                    .input-container
                      label.req(for='password-enter') Пароль
                      input#password-enter.validate(type='password', name='password-enter', required='required', data-validate='pass', data-error-wrong='Поле заполнено не верно', data-error-empty='Поле не заполнено', data-error-min='Пароль: не менее 6 символов', data-error-max='Пароль: не более 20 символов')
                      .text-error Поле не заполнено
                  .registration__section-btn
                    button.btn.btn-link(data-target='recover') Забыли пароль?
                    input.btn(value='Войти', type='submit')
            .tub_body(style='display: none;')
              .registration__title Регистрация
              .registration__wrapper
                form.registration__form.js_validate
                  .registration__section
                    .input-container
                      label.req(for='login') Логин
                      input#login.validate(type='text', name='login', required='required', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                      .text-error Поле  не заполнено
                    .input-container
                      label.req(for='employee') ФИО
                      input#employee.validate(type='text', name='employee', required='required', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                      .text-error Поле  не заполнено
                    .input-container
                      label.req(for='phone') Контактный телефон
                      input#phone.validate(type='tel', required='required', data-validate='phone', data-error-wrong='Поле «Телефон» заполнено не верно', data-error-empty='Введите колличество символов(17)')
                      .text-error Поле  не заполнено
                    .input-container
                      label.req(for='email') E-mail
                      input#email.validate(type='email', name='email', required='required', data-validate='email', data-error-wrong='Поле «Email» заполнено не верно', data-error-empty='Поле «Email» не заполнено', data-error-min='Email: не менее 6 символов', data-error-max='Email: не более 37 символов')
                      .text-error Поле «Email» не заполнено
                    .input-container
                      label(for='site') Web-Site
                      input#site(type='text', name='site', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                      .text-error Поле  не заполнено
                    .input-container
                      label.req(for='password') Пароль
                      input#password.validate.password(type='password', name='password', required='required', data-validate='pass', data-error-wrong='Поле заполнено не верно', data-error-empty='Поле не заполнено', data-error-min='Пароль: не менее 6 символов', data-error-max='Пароль: не более 20 символов')
                      .text-error Поле не заполнено
                    .input-container
                      label.req(for='password') Повторите пароль
                      input#password2.validate.password_1(type='password', name='password2', required='required', data-validate='pass1', data-error-wrong='Пароли не совпадают', data-error-empty='Поле не заполнено', data-error-min='Пароль: не менее 6 символов', data-error-max='Пароль: не более 20 символов')
                      .text-error Поле не заполнено
                    .input-container
                      label(for='source') Комментарий
                      input#source(type='text', name='source', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                      .text-error Поле  не заполнено
                  input.btn(value='Зарегестрироваться', type='submit')

      include components/_footer
      include components/_popup
    include components/_footer-include
