doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.search-empty-page
      include components/_header
      .container
        main.main
          section.page__header.catalog__header
            .page__header-search
            .page__header-wrapper
          section.catalog.catalog__wrapper
            .catalog__grid-wrapper
              .search-block
                span По вашему запросу
                .title “PK RENAULT NE72 3кн”
                span Ничего не найдено, попробуйте изменить запрос
      include components/_footer
      include components/_popup
    include components/_footer-include