doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.search-page
      include components/_header
      .container
        main.main
          section.page__header.catalog__header
            .page__header-search
              span Найдено 5 товаров
            .page__header-wrapper
              .title.page__header-title
                span “PK RENAULT NE72 2кн”
              .page__header-sort
                include components/_dropdown
                - var text= ["12", "24", "36"]
                +dropdown("dropdown_select", text, "Товаров на странице:", "sort-value")
                - var text= ["По популярности", "По цене", "По новизне"]
                +dropdown("dropdown_select", text, "Сортировка:", "sort-quantity")
          section.catalog.catalog__wrapper
            .main-products-item.catalog__grid
              include components/_product-item
              include components/_pagination
              - var img = ["key11.jpeg", "key12.jpeg", "key13.jpeg", "key14.jpeg", "key15.jpeg"]
              - var itemTitle = ["Выкидной ключ CHEVROLET HU100 3кн+1", "Ключ Acura HON58 ID13", "Выкидной ключ Acura HON66 3+1 ID46(7936) 315MHz б/у", "Ключ BMW HU58 3кн 7935 433MHz", "Смарт ключ MINI 3кн 868MHz NEW"]
              - var price= ["45 794", "25 742", "142 699", "85 289", "226"]
              - var classItem= ["", "product-item_missing", "product-item_missing", "product-item_stock product-item_old", ""]
              - var priceOld= ["47 782", "26 712", "143 655", "86 231", "245"]
              - var vendor= ["7x757","ВШГ202","4588QS","4jjQS", "45881257"]
              - var label= ["хит", "", "", "Акция", "Новинка"]
              - var classLabel= ["label-status_hit", "", "", "label-status_sale", "label-status_new"]
              - var btnClass= ["", "", "", "", ""]
              - for (var i = 0; i < img.length; i++)
                +product-item(img, itemTitle, price, priceOld, classItem, vendor, label, classLabel, btnClass)
              +pagination
      include components/_footer
      include components/_popup
    include components/_footer-include
