doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://support.google.com/adsense/answer/12654?hl=ru', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    .wrapper.service-one-page
      include components/_header
      .container
        main.main
          section.page__header
            .page__header-wrapper
              include components/_breadcrumbs
              +breadcrumbs('Главная', 'Услуги', 'Аварийное открытие замков')
            .title.page__header-title
              | Аварийное открытие замков
          section.service-one__info
            ul.service-one__advantages
              li.service-one__advantages-item
                img.icon(src="images/content-icons/headquarters.svg" alt="Работаем по Одессе и Одесской области" title="Работаем по Одессе и Одесской области")
                .title Работаем по Одессе и Одесской области
              li.service-one__advantages-item
                img.icon(src="images/content-icons/padlock.svg" alt="Открываем замки любой сложности!" title="Открываем замки любой сложности!")
                .title Открываем замки любой сложности!
              li.service-one__advantages-item
                img.icon(src="images/content-icons/clock.svg" alt="Прибытие мастера по Одессе составит всего 30 минут!" title="Прибытие мастера по Одессе составит всего 30 минут!")
                .title Прибытие мастера по Одессе составит всего 30 минут!
            .service-one__prices
              table
                caption Наши цены на аварийное вскрытие замков
                tbody
                  tr
                    th Вызов мастера
                    td 100 грн
                  tr
                    th Аварийное открывание дверей
                    td от 150 грн
                  tr
                    th Аварийное открывание автомобиля
                    td от 200 грн
                  tr
                    th Аварийное открывание сейфа
                    td от 150 грн
                  tr
                    th Замена, ремонт замка
                    td от 150 грн
                  tr
                    th Восстановление авто ключей при утере
                    td от 500 грн
          section.service-one__phone
            .header__phone
              a(href="tel:+380487001717" class="header__phone-link")
                span.icon.icon-phone
                | +38 (048)
                span 700 17 17
              a(href="tel:+380674841450" class="header__phone-link")
                span.icon.icon-phone
                | +38 (067)
                span 484 14 50
              a(href="tel:+380487755585" class="header__phone-link")
                span.icon.icon-phone
                | +38 (048)
                span 775-55-85
            +button('Оставить заявку', 'button')(class="" data-target="call")
          section.service-one__slider
            .service-one__slider-wrapper
              .service-one__slider-item
                a(href='images/other/about-img.jpeg', data-fancybox="gallery", data-title='PK RENAULT NE72 2кн')
                  img(data-src='images/other/about-img.jpeg', title='PK RENAULT NE72 2кн', alt='PK RENAULT NE72 2кн', id="image-1", data-zoom-image='images/other/about-img.jpeg')
              .service-one__slider-item.card-info__image_video
                a(href='https://youtu.be/u5H8FdfZihE', data-fancybox="gallery", data-title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г')
                    img(data-src='images/other/about2-img.jpeg', title='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', alt='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', id="image-2")
              .service-one__slider-item
                a(href='images/banners/banner3.jpeg', data-fancybox="gallery", data-title='PK RENAULT NE72 2кн')
                  img(data-src='images/banners/banner3.jpeg', title='PK RENAULT NE72 2кн', alt='PK RENAULT NE72 2кн', id="image-3", data-zoom-image='images/banners/banner3.jpeg')
              .service-one__slider-item.card-info__image_video
                a(href='https://youtu.be/IorjN9TzZFw', data-fancybox="gallery", data-title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г')
                  img(data-src='images/banners/banner5.jpeg', title='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', alt='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', id="image-4")
              .service-one__slider-item
                a(href='images/other/banners/banner1.jpeg', data-fancybox="gallery", data-title='PK RENAULT NE72 2кн')
                  img(data-src='images/banners/banner1.jpeg', title='PK RENAULT NE72 2кн', alt='PK RENAULT NE72 2кн', id="image-5", data-zoom-image='images/banners/banner1.jpeg')
              .service-one__slider-item.card-info__image_video
                a(href='https://youtu.be/u5H8FdfZihE', data-fancybox="gallery", data-title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г')
                  img(data-src='images/banners/banner2.jpeg', title='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', alt='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', id="image-6")
          section.service-one__content
            p.
              Потерять ключ от сейфа или забыть комбинацию кодового замка – такое может случиться с каждым. И тогда вам понадобится аварийное открывание сейфов, которое может предложить компания «Ваш ключ». К вашим услугам высококвалифицированные мастера – они оперативно откроют сейф с любым замком, не повредив его.
            h2 Вскрыть замок сейфа: оперативность и мастерство
            p
              strong Компания «Ваш ключ»
              | – это современный ключный сервис Одессы, который предоставляет обширный комплекс услуг: от изготовления дубликатов для разных типов замков до вскрытия и ремонта замков любой сложности. Вскрыть замок сейфа – это лишь на первый взгляд просто. Но для того, чтобы выполнить работу качественно, не повредив сам замок сейфа, требуются отличное знание устройства разных сейфовых замков, специальное профессиональное оборудование, опыт работы с замками разной сложности. И у специалистов ключного сервиса «Ваш ключ» все это есть!
            h6 Если по какой-либо причине вам потребовалось вскрыть сейф, вы можете обратиться к нам одним из способов, наиболее удобных для вас:
            ul
              li Оставить заявку на нашем сайте либо позвонить в контакт-центр.
              li Обратиться в одну из стационарных мастерских нашего сервиса, которые расположены в разных районах Одессы.
              li Вызвать мобильную мастерскую к себе на дом или в офис.
            strong.
              Какой бы из этих способов вы не выбрали, вы в любом случае можете рассчитывать на оперативность. Наши мастера прибудут на место в течение получаса, независимо от того, в каком районе Одессы вы находитесь.
            p.
              При этом вы можете попросить нас вскрыть сейф (Одесса и ближайшие населенные пункты) любой сложности и типа.
              Открывание сейфа: Одесса и Ваш Ключ предлагают свои услуги для одесситов
            h6 Ситуации, когда вам нужно вскрыть собственный сейф, могут быть самыми разными. В зависимости от вида замков, к нам обращаются, когда:
            ol
              li Потеряли или сломали ключ от сейфа.
              li Забыли кодовую комбинацию сейфового замка.
              li В электронике замка произошел какой-то сбой, и он заблокировался и пр.
            p.
              В этих случаях открывание сейфа (Одесса и пригород) будет произведено после того, как наш мастер получит подтверждение собственности сейфа (мы обязаны удостовериться, что он принадлежит вам). Способы открытия и комплекс необходимых работ будет зависеть от типа замка.
            h5 Современные сейфы оснащаются такими замками:
            ul
              li
                strong Сувальдный замок с ключом
                | является классическим вариантом. Сейфы с такими замками обычно имеют относительно невысокую стоимость, сейфы с такими замками не требовательны к условиям окружающей среды, в отличие от других современных моделей замков. Выбор такого сейфа обычно делают люди, которые постоянно обращаются за содержимым ящика: в этом случае сейф с ключом открывать проще и быстрее. Вскрывать и ремонтировать такие замки также гораздо проще.
              li
                strong Кодовый замок
                | также можно назвать классикой – встречается он на сейфах не реже сувальдного, может, даже и чаще. Стоят изделия с такими замками дороже, так как устройство кодового замка гораздо сложнее. Надежность их, надо сказать, выше, но в случае, если вы забудете комбинацию к своему замку, открыть сейф будет не так-то просто. Тут без опытных профессионалов вы точно не обойдетесь.
              li
                | Третий распространённый вид замков на сейфах –
                strong электронный.
                | Работает данная разновидность замков так же, как и предыдущая, на основе кодовой комбинации. Но при этом имеет ряд преимуществ. И главная из них: такие замки легче вскрыть, если забыли код – для этого каждая модель сейфа имеет свой сервисный код от производителя.
              li
                | Следующий тип –
                strong биометрический.
                | Относительно новая разновидность замков. Такая система считывает отпечатки пальцев владельца, думаем, не скажем новость, указав, что на сегодня это один из самых надежных замков. Вскрывать такой замок владельцу вряд ли понадобиться, только если произойдет сбой системы, что маловероятно.
            p.
              Ключный сервис «Ваш ключ» поможет решить проблему с любым типом замков: мы произведем вскрытие, осуществим ремонт замка, сделаем для вас дубликат ключа от сейфа.
            h4 Отремонтировать замок или открыть сейф: Одесса предлагает лучший ключный сервис Ваш Ключ
            p.
              Если вам срочно требуется открыть сейф, Одесса может предложить немало вариантов, но довериться стоит профессионалам. Неправильное вскрытие замка может привести к его повреждению, и не всегда горе-медвежатник сможет устранить причиненные неполадки. Результат – вы оплатите некачественные услуги и будете вынуждены либо заплатить за ремонт замка профессионалам, либо купить новый сейф. А подумайте только, сколько времени вы на это потратите!
            p.
              Ключный сервис «Ваш ключ» предлагает профессиональные услуги по ремонту, вскрытию замков уже не один год. Сегодня мы являемся одной из самых крупных сетью мастерских, мы можем предложить современные услуги. Наши мастера пользуются надежным, качественным инструментом, который поможет вскрыть замок любой сложности, не нанеся ему вреда. И, главное, мы готовы прийти на помощь в любое время и максимально оперативно.

include components/_footer
      include components/_popup
    include components/_footer-include
