include ../../components/_button
include ../../components/_input-number
section.card-info
    .card-sidebar
        .card-sidebar__wrapper
            .card-sidebar__image
                .card__image_loupe
                    .card__image_slider-small
                        .card__image_slider-small-slide
                            img(data-src='images/keys/key1.jpeg', title='PK RENAULT NE72 2кн', alt='PK RENAULT NE72 2кн', data-image-index='1')
                        .card__image_slider-small-slide
                            img(data-src='images/keys/key2.jpeg', title='CLA3G JMA', alt='CLA3G JMA', data-image-index='2')
                        .card__image_slider-small-slide
                            img(data-src='images/keys/key3.jpeg', title='PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ', alt='PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ', data-image-index='3')
                        .card__image_slider-small-slide
                            img(data-src='images/keys/key4.jpeg', title='PK RENAULT VAC102 3КН NO LOGO', alt='PK RENAULT VAC102 3КН NO LOGO', data-image-index='4')
                        .card__image_slider-small-slide
                            img(data-src='images/keys/key5.jpeg', title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г', alt='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г', data-image-index='5')
                        .card__image_slider-small-slide.card-info__image_video
                            img(data-src='images/keys/key6.jpeg', title='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', alt='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', data-image-index='6')

                    .card__image_slider-big.gallery-images
                        a(href='images/keys/key1.jpeg', data-fancybox="gallery", data-title='PK RENAULT NE72 2кн')
                            .card__image_slider-big-slide
                                img(data-src='images/keys/key1.jpeg', title='PK RENAULT NE72 2кн', alt='PK RENAULT NE72 2кн', id="image-1", data-zoom-image='images/keys/key1.jpeg').product-image
                        a(href='images/keys/key2.jpeg', data-fancybox="gallery", data-title='CLA3G JMA')
                            .card__image_slider-big-slide
                                img(data-src='images/keys/key2.jpeg', title='CLA3G JMA', alt='CLA3G JMA', id="image-2", data-zoom-image='images/keys/key2.jpeg').product-image
                        a(href='images/keys/item-image2.jpeg', data-fancybox="gallery", data-title='PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ')
                            .card__image_slider-big-slide
                                img(data-src='images/keys/key3.jpeg', title='PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ', alt='PK MERCEDES BENZ 3КН ЧЕРНЫЙ ДО 1998Г С МЕХАНИЧЕСКИЙ КЛЮЧОМ', id="image-3", data-zoom-image='images/keys/key3.jpeg').product-image
                        a(href='images/keys/item-image3.jpeg', data-fancybox="gallery", data-title='PK RENAULT VAC102 3КН NO LOGO')
                            .card__image_slider-big-slide
                                img(data-src='images/keys/key4.jpeg', title='PK RENAULT VAC102 3КН NO LOGO', alt='PK RENAULT VAC102 3КН NO LOGO', id="image-4", data-zoom-image='images/keys/key4.jpeg').product-image
                        a(href='images/keys/key5.jpeg', data-fancybox="gallery", data-title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г')
                            .card__image_slider-big-slide
                                img(data-src='images/keys/key5.jpeg', title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г', alt='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г', id="image-5", data-zoom-image='images/keys/key5.jpeg').product-image
                        a(href='https://youtu.be/u5H8FdfZihE', data-fancybox="gallery", data-title='Выкидной Ключ HYUNDAI i20,i30 3кн ID60(6F) 433MHz RKE-4F04 с 2012г')
                            .card__image_slider-big-slide.card-info__image_video
                                img(data-src='images/keys/key6.jpeg', title='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', alt='Ключ CHEVROLET LACHETI 3кн ID60 434MHz', id="image-6").product-image
    .card-info__wrapper
        h1.title.main-title PK RENAULT NE72 2кн
        .card-info__descr
            .card-info__descr-item
                span.title Артикул:
                span.value 50618
            .card-info__descr-item
                span.title Производитель:
                span.value Renault
            .product-item__missing-title.product-item__missing-title_false
                .subtitle
                    | товар отсутствует
                .icon.icon-car
        .card-info__characteristic
            table
                caption Характеристики товара
                tbody
                    tr
                        th Тип
                        td Заготовка под ключ
                    tr
                        th Тип ключа
                        td Автомобильный
                    tr
                        th
                        td
                    tr
                        th
                        td
                    tr
                        th
                        td

        //.card-info__content
        //    span.title Описание
        //    p
        //        | Контейнера и выкидушки к авто RENAULT.
        //        span Заготовка для ключей.
    .card-info__sidebar
        .card-info__sidebar-item
            .card-info__price-wrapper
                .card-info__price
                    span.price 85.50
                    span.currency грн.
            .card-info__missing
                span.subtitle Нет в наличии
        .card-info__sidebar-item
            .card-info__buttons
                +button('Сообщить, когда появится', 'button')(class="icon icon-mail")(data-target="missing")

