
<div class="brands">
  <div class="back">
    <div class="icon icon-arr"></div><span>Назад</span>
  </div>
  <ul class="brands__list">
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/acura.png" alt="acura" title="acura"/></div>
        <div class="brands__title">acura</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/alfa-romeo.png" alt="alfa-romeo" title="alfa-romeo"/></div>
        <div class="brands__title">alfa-romeo</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/audi.png" alt="audi" title="audi"/></div>
        <div class="brands__title">audi</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/bentley.png" alt="bentley" title="bentley"/></div>
        <div class="brands__title">bentley</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/bmw-mini.png" alt="bmw-mini" title="bmw-mini"/></div>
        <div class="brands__title">bmw-mini</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/buik.png" alt="buik" title="buik"/></div>
        <div class="brands__title">buik</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/byd.png" alt="byd" title="byd"/></div>
        <div class="brands__title">byd</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/cadillack.png" alt="cadillack" title="cadillack"/></div>
        <div class="brands__title">cadillack</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/chery.png" alt="chery" title="chery"/></div>
        <div class="brands__title">chery</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/chevrolet.png" alt="chevrolet" title="chevrolet"/></div>
        <div class="brands__title">chevrolet</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/chrysler.png" alt="chrysler" title="chrysler"/></div>
        <div class="brands__title">chrysler</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/citroen.png" alt="citroen" title="citroen"/></div>
        <div class="brands__title">citroen</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/dacia.png" alt="dacia" title="dacia"/></div>
        <div class="brands__title">dacia</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/daewoo.png" alt="daewoo" title="daewoo"/></div>
        <div class="brands__title">daewoo</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/daihatsu.png" alt="daihatsu" title="daihatsu"/></div>
        <div class="brands__title">daihatsu</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/dodge.png" alt="dodge" title="dodge"/></div>
        <div class="brands__title">dodge</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/ducati.png" alt="ducati" title="ducati"/></div>
        <div class="brands__title">ducati</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/fiat.png" alt="fiat" title="fiat"/></div>
        <div class="brands__title">fiat</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/ford.png" alt="ford" title="ford"/></div>
        <div class="brands__title">ford</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/geely.png" alt="geely" title="geely"/></div>
        <div class="brands__title">geely</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/acura.png" alt="acura" title="acura"/></div>
        <div class="brands__title">acura</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/alfa-romeo.png" alt="alfa-romeo" title="alfa-romeo"/></div>
        <div class="brands__title">alfa-romeo</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/audi.png" alt="audi" title="audi"/></div>
        <div class="brands__title">audi</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/bentley.png" alt="bentley" title="bentley"/></div>
        <div class="brands__title">bentley</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/bmw-mini.png" alt="bmw-mini" title="bmw-mini"/></div>
        <div class="brands__title">bmw-mini</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/buik.png" alt="buik" title="buik"/></div>
        <div class="brands__title">buik</div></a></li>
    <li class="brands__li"><a href="http://html.myapp.com.ua/vashkluch/catalog-brands.html" class="brands__link">
        <div class="brands__img"><img src="images/brands/byd.png" alt="byd" title="byd"/></div>
        <div class="brands__title">byd</div></a></li>
  </ul>
</div>