
<link rel="stylesheet" type="text/css" href="css/lib.min.css"/>
<link rel="stylesheet" type="text/css" href="css/main.min.css"/>
<script type="text/javascript" src="js/lib.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAuu-TeMzXX-X7rBtKjmmVPt12Y_9LtHbY&amp;language=ru"></script>
<!--script(type='text/javascript', src='js/main.js') разкоментить по окончанию разработки, закомментить в админке main.js-->
<script type="text/javascript" src="js/main.min.js"></script>