
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <nav class="footer__services footer__list">
        <div class="title"><span>Наши услуги</span></div>
        <ul class="footer__services-menu">
          <li class="footer__services-li"><a href="http://html.myapp.com.ua/vashkluch/content-page-img.html" class="footer__services-link">Наши мастерские</a></li>
          <li class="footer__services-li"><a href="http://html.myapp.com.ua/vashkluch/service-one.html" class="footer__services-link">Восставноление авто ключей</a></li>
          <li class="footer__services-li"><a href="http://html.myapp.com.ua/vashkluch/service-one.html" class="footer__services-link">Ремонт авто ключей</a></li>
          <li class="footer__services-li"><a href="http://html.myapp.com.ua/vashkluch/service-one.html" class="footer__services-link">Инструменты для открывания</a></li>
          <li class="footer__services-li active"><a href="http://html.myapp.com.ua/vashkluch/service-one.html" class="footer__services-link">Аварийное открытие замков</a></li>
        </ul>
      </nav>
      <nav class="footer__info footer__list">
        <div class="title"><span>Информация</span></div>
        <ul class="footer__info-menu">
          <li class="footer__info-li"><a href="http://html.myapp.com.ua/vashkluch/content-page-img.html" class="footer__info-link">О нас</a></li>
          <li class="footer__info-li"><a href="http://html.myapp.com.ua/vashkluch/content-page-img.html" class="footer__info-link">Оплата и доставка</a></li>
          <li class="footer__info-li"><a href="http://html.myapp.com.ua/vashkluch/news.html" class="footer__info-link">Статьи</a></li>
          <li class="footer__info-li"><a href="http://html.myapp.com.ua/vashkluch/contacts.html" class="footer__info-link">Контакты</a></li>
          <li class="footer__info-li"><a href="http://html.myapp.com.ua/vashkluch/news.html" class="footer__info-link">Новости</a></li>
          <li class="footer__info-li active"><a href="http://html.myapp.com.ua/vashkluch/mapsite.html" class="footer__info-link">Карта сайта</a></li>
        </ul>
      </nav>
      <div class="footer__phone footer__list">
        <div class="title"><span>контакты</span></div>
        <div class="footer__phone-menu">
          <div class="icon icon-phone"></div>
          <div class="footer__phone-list"><a href="tel:+380674841450" class="footer__phone-link">+38 (067)<span>484-14-50</span></a><a href="tel:+380487001717" class="footer__phone-link">+38 (048)<span>700-17-17</span></a><a href="tel:+380677755585" class="footer__phone-link">+38 (048)<span>775-55-85</span></a></div>
        </div>
        <div class="footer__phone-subtitle"><span>(круглосуточная единая справочная)</span></div>
      </div>
      <div class="footer__social footer__list">
        <div class="title"><span>мы в соцсетях</span></div>
        <ul class="social-list">
          <li class="social-item"><a href="https://www.facebook.com/" target="_blank" rel="nofollow" class="icon-fb icon"></a></li>
          <li class="social-item"><a href="https://www.instagram.com/" target="_blank" rel="nofollow" class="icon-insta icon"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>