
<form class="search js_validate">
  <div class="input-container">
    <div class="search__input-container">
      <input type="text" placeholder="Я ищу..." name="search" required="required" data-validate="text" data-error-wrong="Недопустимые символы" data-error-empty="Введите колличество символов (2-100)" data-minsign="2" data-maxsign="100" class="search__input validate"/><a href="http://html.myapp.com.ua/vashkluch/search.html" class="btn"><span>Искать</span></a>
      <!--+button('Искать', 'button')(class="") для бека, раскомментить, кнопку со ссылкой - удалить, это для визуала-перехода на страницу поиска, с ней валидация - не работает-->
      <!--.delete-->
      <div class="text-error">Введите колличество символов (2-100)</div>
    </div>
    <!--.search__example-->
    <!--    span.text Например,-->
    <!--    a.example(href="#") PR renaut-->
  </div>
</form>