
<aside class="order__sidebar">
  <div class="order__sidebar-main">
    <div class="order__sidebar-title">
      <div class="title">Итого</div>
    </div>
    <div class="order__sidebar-info">
      <div class="order__sidebar-info-total">
        <div class="quantity"><span class="value">400</span><span class="goods">товаров</span><span>на сумму:</span></div>
        <div class="total"><span class="value">34200</span><span class="currency">грн</span></div>
      </div>
      <div class="order__sidebar-info-discount">
        <div class="title">У вас действующая скидка</div>
        <div class="total"><span class="value">20</span><span class="currency">%</span></div>
      </div>
    </div>
    <div class="order__sidebar-total">
      <div class="title">К оплате</div>
      <div class="total"><span class="value">27360</span><span class="currency">грн</span></div>
    </div>
  </div><a href="http://html.myapp.com.ua/vashkluch/order-success.html" class="btn"><span>Подтвердить заказ</span></a>
  <!--+button('Подтвердить заказ', 'button')(class="") для бека, раскомментить, кнопку со ссылкой - удалить, это для визуала-перехода на страницу успешного оформления заказа-->
</aside>