
<aside class="catalog__filter open">
  <div class="auto-fix-sidebar catalog__filter-wrapper">
    <div class="catalog__filter_item open main-item">
      <div class="catalog__filter_item_title main_title">
        <div class="subtitle">Подбор по параметрам<span class="grey">(<span class="number">64</span>)</span></div>
        <div class="plus icon icon-arr"></div>
      </div>
      <div class="catalog__filter_reset-wrapper">
        <div class="apply">
          <button type="submit" class="btn btn-small"><span>Применить</span></button>
        </div>
        <div class="reset">
          <button type="submit" class="btn catalog__filter_reset catalog__filter_reset-main btn-link icon icon-close"><span>Сбросить все</span></button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 1</span></button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 2</span></button>
          <button type="submit" class="btn catalog__filter_reset btn-link icon icon-close"><span>Опция фильтра 3</span></button>
        </div>
      </div>
      <div class="catalog__filter_item_content">
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Цена, грн</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="range">
              <div class="range-wrapper">
                <div class="catalog__filter_item_range_input">
                  <input type="text" data-value="0" value="0" class="catalog__filter_item_range_from"/>
                </div><span class="line">--</span>
                <div class="catalog__filter_item_range_input">
                  <input type="text" data-value="4000" value="4000" class="catalog__filter_item_range_to"/>
                </div>
              </div>
              <button type="submit" class="btn catalog__filter_range btn-small"><span>ок</span></button>
            </div>
            <div data-from="0" data-to="4000" class="catalog__filter_item_range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
              <div class="ui-slider-range ui-corner-all ui-widget-header"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Цвет</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content color">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox" id="black-color"/>
                <div style="background-image: url(images/colors/black.jpg)" class="checkbox"></div>
              </div>
              <label for="black-color">Чёрный</label><a href="#link-for-seo" class="hide"></a>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox" id="white-color"/>
                <div style="background-image: url(images/colors/white.jpg)" class="checkbox"></div>
              </div>
              <label for="white-color">Белый</label><a href="#link-for-seo" class="hide"></a>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox" id="space-gray-color"/>
                <div style="background-image: url(images/colors/space-gray.jpg)" class="checkbox"></div>
              </div>
              <label for="space-gray-color">Хром</label><a href="#link-for-seo" class="hide"></a>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox" id="silver-color"/>
                <div style="background-image: url(images/colors/silver.jpg)" class="checkbox"></div>
              </div>
              <label for="silver-color">Серебро</label><a href="#link-for-seo" class="hide"></a>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Марка</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>CISA<span class="grey">(<span class="number">578</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Mottura<span class="grey">(<span class="number">178</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Tesa<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Kaba<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Abus<span class="grey">(<span class="number">64</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Ещё одна подкатегория<span class="grey">(<span class="number">59</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Применяемые технологии</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">452</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">1486</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Название фильтра</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Фильтр<span class="grey">(<span class="number">452</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Фильтр<span class="grey">(<span class="number">1486</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Фильтр<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Тип</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">452</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">1486</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="catalog__filter_item open">
          <div class="catalog__filter_item_title filter-title">
            <div class="subtitle">Основная характеристика</div>
            <div class="plus icon icon-arr"></div>
          </div>
          <div class="catalog__filter_item_content">
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">452</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">1486</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
            <div class="catalog__filter_item_checkbox">
              <div class="catalog__filter_item_input">
                <input type="checkbox"/>
                <div class="checkbox"></div>
                <label>Подкатегория<span class="grey">(<span class="number">134</span>)</span></label><a href="#link-for-seo" class="hide"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>